In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# exploratory data analysis for housing data
df = pd.read_csv('nyc_housing_price/nyc-rolling-sales.csv')
df.head()

,Unnamed: 0,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,392,6,,C2,153 AVENUE B,...,5,0,5,1633,6440,1900,2,C2,6625000,2017-07-19 00:00:00
1,5,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,26,,C7,234 EAST 4TH STREET,...,28,3,31,4616,18690,1900,2,C7,-,2016-12-14 00:00:00
2,6,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2,399,39,,C7,197 EAST 3RD STREET,...,16,1,17,2212,7803,1900,2,C7,-,2016-12-09 00:00:00
3,7,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2B,402,21,,C4,154 EAST 7TH STREET,...,10,0,10,2272,6794,1913,2,C4,3936272,2016-09-23 00:00:00
4,8,1,ALPHABET CITY,07 RENTALS - WALKUP APARTMENTS,2A,404,55,,C2,301 EAST 10TH STREET,...,6,0,6,2369,4615,1900,2,C2,8000000,2016-11-17 00:00:00

In [4]:
df.shape

(84548, 22)

In [5]:
# acs data
acs = pd.read_csv('ACS.csv')
acs.head()
# at least we got Geo_FIPS for more detailed analysis. Consider filter the required information and concate them into one dataframe for regression.

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
0,36005000100,"Census Tract 1, Bronx County, New York",ACSSF,ny,140,0,3608,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,36005000200,"Census Tract 2, Bronx County, New York",ACSSF,ny,140,0,3609,NaN,NaN,NaN,...,833,450,1340,228,384,354,167,89,0,118
2,36005000400,"Census Tract 4, Bronx County, New York",ACSSF,ny,140,0,3610,NaN,NaN,NaN,...,1056,727,2110,402,602,509,426,121,50,0
3,36005001600,"Census Tract 16, Bronx County, New York",ACSSF,ny,140,0,3611,NaN,NaN,NaN,...,1032,738,2153,456,630,338,329,281,79,40
4,36005001901,"Census Tract 19.01, Bronx County, New York",ACSSF,ny,140,0,3612,NaN,NaN,NaN,...,398,208,784,259,282,74,105,39,12,13

In [7]:
acs[acs['Geo_FIPS'] == 36005003700]

,Geo_FIPS,Geo_QName,Geo_FILEID,Geo_STUSAB,Geo_SUMLEV,Geo_GEOCOMP,Geo_LOGRECNO,Geo_US,Geo_REGION,Geo_DIVISION,...,SE_A10065_001,SE_A10065_002,SE_A10066_001,SE_A10066_002,SE_A10066_003,SE_A10066_004,SE_A10066_005,SE_A10066_006,SE_A10066_007,SE_A10066_008
19,36005003700,"Census Tract 37, Bronx County, New York",ACSSF,ny,140,0,3627,NaN,NaN,NaN,...,39,35,145,81,50,14,0,0,0,0

In [ ]:
# tree density
# notice that this is at block group level -> FIPS = FIPS[:-1]